*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: aliceblue;
}
body{
  background-color: rgb(12, 16, 20);
  display: flex;
  flex-direction: column;
  padding: 15px 0;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
  margin-top: 5px;
  padding: 0 25px;
}
nav .username{
  min-width: 20%;
  min-height: 1.8rem;
}
nav .username h1{
  font-size: 2.5rem;
  min-width: 40%;
  min-height: 1.8rem;
}
.search{
  cursor: pointer;
}
.body{
  margin-top: 1.9rem;
  min-width: 100px;
  width: 100%;
  max-width: 700px;
  align-self: center;
}
.profileSection{
  height: fit-content;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 25px;
}
.mainData{
  display: flex;
  align-items: center;
}
.profilePicture{
  height: 100px;
  width: auto;
  border-radius: 50% !important;
  object-fit: cover;
  aspect-ratio: 1/1;
}
.profileDataSection{
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
  margin-left: 15px;
}
.profileName{
  font-size: 1.2rem;
  font-weight: 700;
  width: 60%;
  height: 1.1rem;
  margin-bottom: 10px;
}
.socialData{
  display: flex;
  justify-content: space-between;
}
.socialData div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.socialData p{
  font-size: 1rem;
}
.socialData div p:first-child{
  width: 2rem;
  height: 1rem;
  margin-bottom: 5px;
}
.description{
  margin: 5px 0;
}
.description pre{
  line-height: 1.1rem;
}
.description div{
  width: 60%;
  height: .8rem;
  margin: 5px 0;
}
.description div:last-child{
  width: 70%;
}
.username:nth-child(3){
  height: 1rem;
  min-width: 50px;
  width: fit-content;
  margin-top: 5px;
  font-size: 1rem;
}


.socialButtonsSection{
  width: 100%;
  display: flex;
  padding: 0 25px;
}
.socialButtonsSection button{
  height: 1.8rem;
  flex: 1;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  cursor: pointer;
}
.followButton{
  margin-right: 10px;
  background-color: rgba(48, 144, 253, 0.788);
}
.messageButton{
  background-color: rgba(61, 61, 73, 0.788);
}

.storySection{
  margin-top: 15px;
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  margin-left: 25px;
}
.story{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
}
.story div{
  width: 4rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: rgba(61, 61, 73, 0.788) solid;
}
.story div img{
  width: 90%;
  height: 90%;
  object-fit: cover;
  background-color: rgba(61, 61, 73, 0.788);
  border-radius: 50%;
}




/*loading skelaton animation*/
.skelatonLoading{
  background: linear-gradient(to right,rgb(177, 176, 176),  rgb(85, 85, 85) ,rgb(177, 176, 176));
  background-size: 500%;
  animation: loading 2s infinite forwards;
}
@keyframes loading {
  0% {
    background-position: 0%;
    border-radius: 10px;
  }
  100% {
    border-radius: 10px;
    background-position: -120%;
  }
}
